<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.weekender"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="com.android.weekender.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 2nd activity -->
        <activity
            android:name="com.android.weekender.CameraActivity"
            android:label="@string/title_activity_capture"
            android:parentActivityName="com.android.weekender.GalleryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.weekender.Gallery" />
        </activity>
        <!-- 3rd activity -->
        <activity
            android:name="com.android.weekender.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:parentActivityName="com.android.weekender.Login"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.weekender.Login" />
        </activity>
        <!--  4th activity -->
        <activity
            android:name="com.android.weekender.TimerActivity"
            android:label="@string/title_activity_timer"
            android:parentActivityName="com.android.weekender.GalleryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.weekender.Timer" />
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity android:name="com.facebook.LoginActivity" android:label="@string/app_name"></activity>
    </application>

</manifest>